main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    text-align: center;
}

main h1 {
    color: var(--rustic-taupe);
    font-size: 5rem;
    font-weight: 700;
}

main h2 {
    font-size: 2rem;
}

main a {
    margin-top: 1rem;
    color: var(--rustic-taupe);
    text-decoration: none;
    position: relative;
}

main a:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: var(--rustic-taupe);
    transition: 0.3s ease;
}

main a:hover:after {
    width: 0%;
    left: 50%;
}

@media (max-width: 560px) {
    main h1 {
        font-size: 3.5rem;
    }

    main h2 {
        font-size: 1.4rem;
    }
}