@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --title-font:"Playfair Display", serif;;
    --body-font: 'DM Sans', sans-serif;
    --bg:#e9e2d6;
    --pill-bg:#f3eee5;
    --dark:#2b231d;
    --text:#4a4036;
    --accent:#8a6a4f;
    --white:#fff;
    --background-color: #DACFB6;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 500;
}
p, ul, ol, dl, dt, dd{
    font-family: var(--body-font);
}

body{
    color: var(--black-color);
}
