@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --title-font:"Playfair Display", serif;;
    --body-font: 'DM Sans', sans-serif;

    --charcoal-clay: #3A2B20;
    --rustic-taupe: #7E6A52;
    --warm-beige: #B89C82;
    --creamy-taupe: #DACFB6;
    --soft-white: #F9F5ED;
    --white: #fff;

    --title-size:2rem;
    --small-title-size:1.25rem;
    --paragraph-size:1rem;
    --list-text-size:0.8rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title-font);
    font-weight: 500;
}
p, ul, ol, dl, dt, dd ,a, span, button, input, textarea{
    font-family: var(--body-font);
}
p{
    font-size: var(--paragraph-size);
}

body{
    padding-top: 80px;
    background-color: var(--white);
    color: var(--charcoal-clay);

}
.page-title{
    width: 100%;
    text-align: center;
    padding: 60px 40px;
    background: linear-gradient(-185deg, var(--charcoal-clay) 0%, var(--rustic-taupe) 100%);
}
.page-title h1{
    font-size: 3.5rem;
    font-weight: 650;
    color: var(--white);
}
.page-title p{
    font-size: var(--small-title-size);
    color: var(--white);
}
